    * {
        box-sizing: border-box;
        /* margin: 0; */
        padding: 0;

    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        padding: 30px;
        text-align: center;
        font-size: 36px;
        margin-bottom: 10px;
        font-weight: normal;
        background-color: black;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /* margin-top: 20px;  */
    }
table,
th,
td {
    border: 1px solid black;
}

   a:link {
       position: relative;
       color: #42b4d6;
       text-decoration: none;
       /* border-bottom: 1px solid; */
       font: 16px;
       font-weight: normal;

   }



   a:visited {
       /* visited link */
       color: #42b4d6;
   }

   a:hover {
       /* mouse over link */
       color: #42b4d6;
       border-bottom: 1px solid;

   }

   a:active {
       /* active link */
       color: #42b4d6;
   }



   /* Create two columns/boxes that floats next to each other */
   nav {
       margin-top: 20px;
       margin-bottom: 20px;
       float: top;
       width: 100%;
       height: 100px;
       /* only for demonstration, should be removed */
       background: #ccc;
       padding: 20px;

   }

   /* Style the list inside the menu */
   nav ul {
       list-style-type: none;
       padding: 0;

   }
   footer {
        margin-top: 30px;
       background-color: #777;
       padding: 10px;
       text-align: center;
       color: white;
       height:60px;
   }
   @media (max-width: 1000px) {

       nav,
       header {
           width: 100%;
           height: auto;
       }
   }